h2{
    background-color: #2e6ea6;
    padding-top: 20px; /* espçamento interno para todos os lados*/;
    padding-bottom: 35px; /* espaçamento para baixo*/;
    padding-right: ; /*espaçamento para direita*/;
    padding-left:25px ; /*espaçamento para esquerda*/;
    text-align:center ; /*alinha o texto no centro*/;
}
.azul {
    background-color: #2e6ea6;
    border: 5px solid #000000;
}
.vermelho {
    background-color: #a60d1a;
    border: 5px solid #000000;
}
.marron {
    background-color:  #a66f3f;
    border: 5px solid #000000;
}
a{
    background-color: #2e6ea6;
    color: #fff;
    text-decoration: none;/*retira o sublinhado do link*/;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

a:hover {
background-color: #f27649;
}


button{
    background-color: #a60d1a;
    color: #fff;
    text-decoration: none;/*retira o sublinhado do link*/;
    padding: 10px;
    border-radius: 5px;
    border: none;


}
button:hover {
    background-color: #f27649;
}